<div *ngIf="pet">
  <h2>{{pet.name | uppercase}} Detalles:</h2>
  <div><span>id: </span>{{pet.id}}</div>
  <div>
    <label for="pet-name">Nombre: </label>
    <input id="pet-name" [(ngModel)]="pet.name" placeholder="nombre">
  </div>
  <div>
    <label for="pet-age">Edad: </label>
    <input id="pet-age" [(ngModel)]="pet.age" placeholder="edad" [readonly]="!isAdmin">
  </div>
  <button type="button" (click)="save()">Guardar</button>
  <button type="button" (click)="goBack()">Atras</button>
</div>
<div *ngIf="!pet">
  <h2>Nuevo Paciente:</h2>
  <form [formGroup]="petForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="new-name">Nombre: </label>
      <input id="new-name" placeholder="nombre" type="text" formControlName="name">
      <div *ngIf="submitted && myForm['name'].errors?.['required']">
        Nombre es un campo obligatorio.
      </div>
    </div>
    <div class="form-group">
      <label for="new-age">Edad: </label>
      <input id="new-age" placeholder="edad" formControlName="age">
      <div *ngIf="submitted && myForm['age'].errors?.['required']">
        Edad es un campo obligatorio.
      </div>
    </div>
    <button type="submit">Crear</button>
    <button type="button" (click)="goBack()">Atras</button>
  </form>
</div>
